<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
     <link rel="stylesheet" href="/static/css/style.css">

</head>

 <h1>Check out my portfolio </h1>

<br>

     <form action="https://github.com/MarinPaz7/New-css.git"  target="_blank" >
    <input type="submit" value="Fakebook" />
    </form>
<br>
     <form action="https://github.com/MarinPaz7/Boogle.html.git" target="_blank">
    <input type="submit" value="Boogle" />
     </form>
<br>
     <form action="https://github.com/MarinPaz7/Calculator.git" target="_blank">
    <input type="submit" value="Calculator" />
     </form>
<br>
         <form action="https://github.com/MarinPaz7/GuessTheNumber.git" target="_blank">
    <input type="submit" value="Guess the number" />
         </form>

<body>

</body>
</html>